.logo__profil {
  color: #e94242;
  font-family: "BloodLust";
  font-size: 70px;
  margin-left: 40px;
  margin-top: 25px;
}

.left {
  margin-top: 80px;
  margin-left: 40px;
}

.left__icon {
  width: 250px;
}

.left__pen {
  position: absolute;
  margin-left: -80px;
}

.left__text {
  color: white;
  line-height: 60px;
  font-family: "poppins-light";
  font-size: 18px;
  text-decoration: underline;
}

.profil {
  display: flex;
  position: fixed;
  top: 150px;
  right: 0;
  left: 0;
  z-index: 0;
  flex-direction: column;
  align-items: center;
}

.profil__title {
  color: white;
  text-align: center;
  font-family: "poppins";
  font-size: 32px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.profil__name {
  display: flex;
  border: solid 4px #842d2c;
  width: 250px;
  height: 45px;
  align-items: center;
}

.profil__name--user {
  font-size: 16px;
  font-family: "poppins-light";
  margin-left: 10px;
  color: white;
  padding-right: 10px;
}

.profil__name:hover {
  transform: scale(1.1);
}

.profil__register {
  border: none;
  background-color: #0f0e10;
  color: white;
  font-size: 16px;
  font-family: "poppins-light";
}

.profil__language {
  padding: 50px 10px 0px 5px;
}

.profil__language--img {
  cursor: pointer;
}

.profil__language--img:hover {
  transform: translateY(3px);
}

.profil__link {
  text-decoration: none;
}

.profil__btn {
  background-color: #d73f3f;
  color: white;
  border: 4px solid #842d2c;
  border-radius: 8px;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";
  font-size: 24px;
  cursor: pointer;
}

.profil__btn:hover {
  border: 4px solid #e94242;
  background-color: black;
  color: #e94242;
}

.profil__delete {
  color: #842d2c;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}

.profil__delete:hover {
  text-decoration: underline;
}
